<main class="mx-auto max-w-5xl px-6 pb-10">
  <app-header></app-header>
  <app-basic-information class="block my-5"></app-basic-information>
  <div class="flex flex-col-reverse lg:flex-row gap-8">
    <div class="flex-1">
      <h3 class="font-medium">Component Options</h3>
      <form
        #componentOptionsForm="ngForm"
        (ngSubmit)="handleComponentReload()"
      >
        <div class="mb-4">
          <label
            for="first_name"
            class="block mb-2 text-base font-medium"
            >Number of Inputs</label
          >
          <input
            [(ngModel)]="otpOptions.otpLength"
            name="otpLength"
            min="1"
            max="8"
            type="number"
            class="w-full px-4 py-2 text-base border border-solid border-slate-400 rounded-lg box-border"
          />
        </div>
        <div>
          <label
            for="first_name"
            class="block mb-2 text-base font-medium"
            >Accepted characters</label
          >
          <input
            [(ngModel)]="regexp"
            (blur)="convertStringToRegexp()"
            name="regexp"
            type="text"
            class="w-full px-4 py-2 text-base border border-solid border-slate-400 rounded-lg box-border"
          />
          <div class="p-2 text-sm text-slate-500">
            Regexp pattern to match the accepted characters
          </div>
        </div>
        <div>
          <label
            for="first_name"
            class="block mb-2 text-base font-medium"
            >Input mode</label
          >
          <input
            [(ngModel)]="otpOptions.inputMode"
            name="inputMode"
            type="text"
            class="w-full px-4 py-2 text-base border border-solid border-slate-400 rounded-lg box-border"
          />
          <div class="p-2 text-sm text-slate-500">
            For detailed information, check the
            <a
              href="https://github.com/pkovzz/ngx-otp-input?tab=readme-ov-file#html-inputmode-attribute"
              target="_blank"
              >documentation</a
            >
          </div>
        </div>
        <div>
          <label
            for="first_name"
            class="block mb-2 text-base font-medium"
            >Aria-labels</label
          >
          <input
            [(ngModel)]="ariaLabels"
            (blur)="formatAriaLabelsForSave()"
            name="ariaLabels"
            type="text"
            class="w-full px-4 py-2 text-base border border-solid border-slate-400 rounded-lg box-border"
          />
          <div class="p-2 text-sm text-slate-500">
            Separate aria-labels with comma
          </div>
        </div>
        <div class="flex flex-col gap-2 mt-4">
          <div class="flex items-center gap-2">
            <input
              [(ngModel)]="otpOptions.autoFocus"
              name="autofocus"
              type="checkbox"
              id="autofocus-checkbox"
            />
            <label for="autofocus-checkbox">Autofocus</label>
          </div>
          <div class="flex items-center gap-2">
            <input
              [(ngModel)]="otpOptions.autoBlur"
              name="autoblur"
              type="checkbox"
              id="autoblur-checkbox"
            />
            <label for="autoblur-checkbox">Autoblur</label>
          </div>
          <div class="flex items-center gap-2">
            <input
              [(ngModel)]="otpOptions.hideInputValues"
              name="hideInputValues"
              type="checkbox"
              id="hide-checkbox"
            />
            <label for="hide-checkbox">Hide input values</label>
          </div>
          <div class="flex items-center gap-2">
            <input
              [(ngModel)]="otpOptions.showBlinkingCursor"
              name="showBlinkingCursor"
              type="checkbox"
              id="cursor-checkbox"
            />
            <label for="cursor-checkbox">Show blinking cursor</label>
          </div>
          <div class="flex items-center gap-2">
            <input
              [(ngModel)]="disabled"
              name="disabled"
              type="checkbox"
              id="disable-checkbox"
            />
            <label for="disable-checkbox">Disabled</label>
          </div>
        </div>
        <button
          class="w-full block rounded-full bg-blue-500 hover:bg-blue-700 text-white text-sm px-4 py-2 mt-4 border-0 cursor-pointer"
          type="submit"
        >
          Apply changes
        </button>
      </form>
    </div>
    <div class="flex-1">
      <h3 class="font-medium">Component Preview</h3>
      <ngx-otp-input
        #ngxOtpInput
        *ngIf="showNgxOtpInput"
        [options]="otpOptions"
        [disabled]="disabled"
        (otpComplete)="onOtpComplete($event)"
        (otpChange)="onOtpChange($event)"
      ></ngx-otp-input>
      <div class="mt-4">
        <div
          class="mb-4 p-4 bg-slate-100 border border-solid border-slate-300 rounded-md"
        >
          <div class="mb-2 text-sm">
            (otpChange) will be triggered when the form value changes:
          </div>
          <div class="text-lg">{{ otpChangeValue }}</div>
        </div>
        <div
          class="p-4 bg-slate-100 border border-solid border-slate-300 rounded-md"
        >
          <div class="mb-2 text-sm">
            (otpComplete) will be triggered when the form value is completed:
          </div>
          <div class="text-lg">{{ otpCompleteValue }}</div>
        </div>
      </div>
      <button
        type="button"
        (click)="handleReset()"
        class="block rounded-full border border-solid border-blue-500 bg-white text-blue-500 hover:bg-blue-100 text-sm px-4 py-2 mt-4 cursor-pointer"
      >
        Reset OTP form
      </button>
    </div>
  </div>
</main>
