<div class="welcome">
  <h1>NgxOtpInput demo</h1>
  <p>
    This little demo just a quick overview what is the lib capable of. For more
    details, please visit the
    <a href="https://github.com/pkovzz/ngx-otp-input" target="_blank"
      >documentation.</a
    >
  </p>
</div>
<div class="demo-container">
  <div class="settings">
    <h3>Configuration and inputs</h3>
    <div class="control">
      <mat-form-field appearance="outline">
        <mat-label>Number of inputs</mat-label>
        <input
          matInput
          [(ngModel)]="otpInputConfig.otpLength"
          type="number"
          [min]="1"
        />
      </mat-form-field>
    </div>

    <div class="control">
      <mat-form-field appearance="outline">
        <mat-label>RegExp pattern</mat-label>
        <input [(ngModel)]="regex" (blur)="setRegex()" matInput />
        <mat-hint>Default is "numbers only".</mat-hint>
      </mat-form-field>
    </div>

    <div class="control">
      <mat-form-field appearance="outline">
        <mat-label>Aria labels</mat-label>
        <input [(ngModel)]="ariaLabels" (blur)="setAriaLabels()" matInput />
        <mat-hint>Separate items with comma</mat-hint>
      </mat-form-field>
    </div>

    <div class="checks">
      <div class="control">
        <mat-checkbox [(ngModel)]="otpInputConfig.autofocus"
          >Autofocus</mat-checkbox
        >
      </div>

      <div class="control">
        <mat-checkbox [(ngModel)]="otpInputConfig.isPasswordInput"
          >Password type</mat-checkbox
        >
      </div>

      <div class="control">
        <mat-checkbox [(ngModel)]="ngxOtpDisable">Disable</mat-checkbox>
      </div>
    </div>

    <div class="radios">
      <div class="control">
        <mat-radio-button (change)="status = null"
          >Mark as default</mat-radio-button
        >
      </div>
      <div class="control">
        <mat-radio-button (change)="status = 'success'"
          >Mark as succeed</mat-radio-button
        >
      </div>
      <div class="control">
        <mat-radio-button (change)="status = 'error'"
          >Mark as failed</mat-radio-button
        >
      </div>
    </div>

    <button (click)="reload()" mat-raised-button color="primary">
      Reload component
    </button>
  </div>

  <div class="demo">
    <div class="outputs">
      <h3>Outputs</h3>
      <div class="result">(otpChange): {{ otpChangeResult | json }}</div>
      <div class="result">(fill): {{ fillResult }}</div>
    </div>
    <ngx-otp-input
      *ngIf="showNgxOtpInput"
      [config]="otpInputConfig"
      [disable]="ngxOtpDisable"
      [status]="status"
      (otpChange)="otpChangeResult = $event"
      (fill)="fillResult = $event"
    ></ngx-otp-input>
  </div>
</div>
