.container {
  width: 976px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  border-bottom: 1px solid #c7c6c6;
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-right: auto;
  }
}

.info {
  display: flex;
  gap: 8px;
  margin: 2rem 0;
  padding: 1rem;
  background-color: #f3f3f3;
  border-radius: 0.5rem;
}

.component-wrapper {
  display: flex;
  gap: 3rem;
  h3 {
    font-size: 1.5rem;
  }
}

.component-options {
  flex: 1;
  mat-form-field {
    width: 100%;
  }
}

.component-preview {
  flex: 1;
}

.reload-info {
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.checkbox-wrapper {
  margin-top: 1rem;
}

mat-checkbox {
  display: block;
}

.results {
  margin-top: 2rem;
  h4 {
    font-size: 1.5rem;
  }
}
