/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
